<ion-header>

  <ion-navbar color="header">
    <ion-title>Week {{week}} - {{scorecard?.nickname}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="editScorecard()" *ngIf="canEditScorecard()">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="saveScorecard()" *ngIf="inEditMode">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid *ngIf="isScorecardViewable()" no-padding>
    <ion-row *ngFor="let pick of (scorecard)?.picks">
      <ion-col col-1>
        <ion-toggle [disabled]="!inEditMode" [(ngModel)]="pick.team1Selected" (ionChange)="updateSelectedPick(pick, 'Team1')"></ion-toggle>
      </ion-col>
      <ion-col col-10 style="padding:0px 18px 0px 18px;line-height:2.7;font-size:9px;">
        <ion-row style="text-align: center; padding-bottom: 16px">
          <ion-col col-4><span [style.font-weight]="pick.homeTeam == pick.team1 ? 'bold' : ''">{{pick.team1}}</span></ion-col>
          <ion-col col-2><span>vs.</span></ion-col>
          <ion-col col-4><span [style.font-weight]="pick.homeTeam == pick.team2 ? 'bold' : ''">{{pick.team2}}</span></ion-col>
          <ion-col col-2><span>{{pick.spread}}</span></ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-1>
        <ion-toggle [disabled]="!inEditMode" [(ngModel)]="pick.team2Selected" (ionChange)="updateSelectedPick(pick, 'Team2')" style="float:right"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label style="text-align: right">Total Score:</ion-label>
      <ion-input type="number" style="border: black 1px solid;" [(ngModel)]="tieBreakerScore" [disabled]="!inEditMode"></ion-input>
    </ion-row>
  </ion-grid>

</ion-content>
