.ios,
.md {
  page-week {
    .leaderboard-scroll .scroll-content {
      padding: 0px !important;
    }
    ion-card-header,
    ion-card-header ion-item {
      background-color: color($colors, primary);
    }
    ion-card-header {
      padding: 4px;
    }
    ion-content {
      background-color: color($colors, background);
    }
  }
}
